/man/.Rhistory
/man/Command-class.Rd~
/man/Operation-class.Rd~
/man/Pipeline-class.Rd~
/man/PipelineData-class.Rd~
/man/Protocol-class.Rd~
/man/Stage-class.Rd~
/man/setProtocol.Rd~
/man/setStage.Rd~
.Rhistory
*~
