import(methods)
importFrom(utils, head, tail, prompt)

export(Operation, OperationQ, Pipeline, Protocol, Stage, callNextProtocol,
       defaultMethod, "defaultMethod<-", displayName, explore, findProtocols,
       inType, method, outType, parameters, perform, pipeline, protocol,
       "protocol<-", role, stage, widget, setStage, setProtocol)

exportMethods("[", "[<-", c, eval, head, rev, tail, active, "active<-")

exportClasses(Pipeline, Stage, Protocol, Command, PipelineData, Operation)

